.top-10-buffer {  margin-top: 10px;  }

.top-20-buffer {  margin-top: 20px;  }

.right-10-buffer {  margin-right: 10px;  }

.right-20-buffer {  margin-right: 20px;  }

.bottom-10-buffer {  margin-bottom: 10px;  }

.bottom-20-buffer {  margin-bottom: 20px;  }

.left-10-buffer {  margin-left: 10px;  }

.left-20-buffer {  margin-left: 20px;  }

.icon-adjust {  vertical-align: text-top;  }